.button{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 1px 2px 5px 0 #00000059;
  border: solid 2px #fdce03;
  background-image: linear-gradient(to top, #fdcf03, #fab500);
}

.button:hover{
  background-image: linear-gradient(to top, #fab500, #fdcf03);
}

.button:active{
  box-shadow: none;
}

.button-link{
  font-size: 0.75rem;
  color: #000000;
  text-transform: uppercase;
}