.container-background-full-screen{
  width: 100%;
  overflow: hidden;
}

.container-background-full-screen--heder_yellow{
  background-color:#ffb702}

.container--background-slider--background{
  background: url("../../img/slayder.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}  

.container-background-full-screen--footer{
 background-color: #000000;
}