.form-services__header{
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000;
}

.form-services__task--position{
  margin-top: 32px;
}

.form-services{
  margin-bottom: 100px;
}

.form-services__field{
  border-radius: 5px;
  box-shadow: inset 1.5px 3px 7px 0 #00000059;
  border: solid 1px #494040;
  background-color: #ffffff;
  width: 100%;
  height: 40px;
  padding: 8px 20px;
  line-height: 24px;
  font-weight: bold;
}

.form-services__field:active,
.form-services__field:hover,
.form-services__field:focus{
  outline: 0;
  outline-offset: 0;
}

.form-servies__icon--margin{
  margin-left: 30px;
}
.form-services__icon:hover{
  color: #ffb702;;
}  
.form-services__icon:active{
  color: grey;
}  

.form-services__task { 
  display: flex;
  align-items: center;
}  

.form-services__button{
  display: flex;
  height: 40px;
  cursor: pointer;
  align-items:center;
}

.form-services__task-form._active{
  display: flex;
  align-items: center;
}

@media(max-width:479px){
  .form-services__task {
justify-content: space-between;

  }
 
  .form-services__button._active{
    justify-content: flex-end;
    width: 100%;
  }
}