

.slider {
  width: 100%;
}

.slider__pagination {
  position: absolute;
  margin-top: 16px;
  margin-left: 100%;
  transform: translate(-100%);
  display: flex;
  flex-direction: column;
  flex: 0 0 15px;

}

.slider__pagination-item{
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin-bottom: 20px;
  background-color: #000000;
  &:last-child{
    margin-bottom: 0;
  }
  &._active{
    background-color: #fff;
  }
}

.slider__pagination-item:hover{
  background-color: white;
}


.slider__img{
  width: 100%;
  object-fit: cover;
}

.slider__slides-group{
  position: relative;
}
.slider__item {
  padding-top: 26px;
  display: none;
  &._active{
  display: block;
  }
}



.slider__description{
  position: absolute;
  left: 50%;
  display: flex;
  min-height: 200px;
  justify-content: space-between;
} 


.slider__description:focus{
  outline: none;
}


.slider__main-text{
  max-width: 230px;
  font-weight: bold;
  color: #000000;
}

.slider__amount{
  color:white;
  font-size: 60px;
  line-height: 70px;
  left: 106px;
  top: 14px;
  position: absolute;
}
.slider__currency{
  position: absolute;
  left:168px;
top:74px;
font-size:24px;
font-weight: bold;
color: #000000;
}

.slider__arrow{
  @include block(31px, 31px);
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media(max-width:650px){
  .slider__description{
    margin:0 auto;
    width: 100%;
    justify-content: start;
    left: 0px;
  } 
  .slides__items{
    margin-top: 100px;
  }
  

}