
.tabs__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    font-weight: bold;
    border-radius: 3px;
    box-shadow: 1px 1.7px 5px 0 #00000059;
    border: solid 1px #cdcdcd;
    background-color: #ffffff;
    cursor: pointer;
  }

  .tabs__title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 25px;
    color: #000000;
  }

.tabs__input--hiden{
  display: none;
}    

.tabs__content{

max-height: 0;
background: white;
transition: all .5s;

}

input:checked~ .tabs__label{
  
  ~ .tabs__content {
    max-height: 200%;
    padding-top:20px;
  }
} 

.tabs--margin-top{
  margin-top: 10px;
}