.tabs__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  border-radius: 3px;
  box-shadow: 1px 2px 5px 0 #00000059;
  border: solid 1px #cdcdcd;
  background-color: #ffffff;
  cursor: pointer;
  margin-bottom: 30px;
  margin-top: 30px;
}

.tabs__title {
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000;
}


.tabs__content {
  margin-bottom: 15px;
 
}


.tabs__checkbox{
  display: none;
}
.tabs--margin-top {
  margin-top: 10px;
}

.tabs__arrow {
  margin-right: 20px;
  background-color: black;
}

.tabs__arrow--top {
  color: white;
  transform: rotate(90deg);
}

.tabs__tab:not(._active) .tabs__arrow--top{
  transform: rotate(270deg);
}

.tabs__tab._active .tabs__arrow--top{
  transform: rotate(90deg);
}

.tabs__arrow--bottom {
  color: white;
  transform: rotate(270deg);
}
.tabs__label:hover .tabs__arrow{
  background-color: white;
  border: 1px solid black;

  & .symbol {
    color: black;
  }
}
.tabs__label:active{
  box-shadow: none;
}

.tabs__checkbox-label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.tabs__checkbox-label::before {
  content: "";
  display: block;
  @include block(28px, 28px);
  border: 2px solid black;
  border-radius: 3px;
}

.tabs__label-text {
  margin-left: 25px;
}

.tabs__checkbox-label::after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 6px;
  left: 6px;
  border-radius: inherit;
  background-color: black;
  visibility: hidden;
  opacity: 0;
  transition: .5s opacity, .5s visibility;
}

.tabs__checkbox:checked ~.tabs__checkbox-label::after {
  content: "";
  opacity: 1;
  visibility: visible;
}


.tabs__content-container:not(.show){
display: none;
}


