$maxWidthforMobile: 767px;
$maxWidthforTablet: 1024px;
$maxWidthforLaptop: 1025px;


@mixin mobile {
  @media (max-width: #{$maxWidthforMobile}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$maxWidthforMobile}) and (max-width: #{$maxWidthforTablet}){
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$maxWidthforTablet}) {
    @content;
  }
}

