.eight-screen__header--position{
  padding-top: 23px;
}

.eight-screen__social-icon{
width: 100%;
  height: 23px;
  object-fit: contain;
}


.footer__social-icon:hover{
  color: white;
}

.eight-screen__contact--margin{
  margin-top: 35px;
}

.eight-screen__social--margin{
  margin-top: 21px;
  margin-bottom: 42px;
}

.eight-screen__social-icon--mail{
  height: 10px;
  object-fit: contain;
}