.five-screen{
  background-color: #f6f6f6;
}

.five-screen__header--position{
  padding-top: 51px;
}

.five-screen__content{
  padding-bottom: 40px;
}

@include tablet{
  .five-screen__header--position{
    padding-top: 56px;
  }
  .five-screen__content{
    padding-bottom: 48px;
  }
  
}