.four-screen--position{
  margin-top: 28px;
 }

@include tablet{
  .four-screen--position{
    margin-top: 28px;
   }
   .four-screen--position{
    margin-top: 42px;
   }
  
}

@include desktop{
  .four-screen--position{
    padding-top: 72px;
  }
}