.slider {
  width: 100%
}

.slider__grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 1140px;
}

.slider__item {
  height: 145px;
  position: relative;
}

@for $i from 1 to 8 {
  .slider__item--#{$i} {
    order: $i;
  }
}

.slider__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*
*.slider__item:nth-child(3n+1){
* padding: 0 0 0  15px; 
* }
* .slider__item:nth-child(3n+2){
*  padding: 0 15px 0 0; 
 * }

*.slider__item:last-child{
 * padding: 0 15px;
*}  
*.slider__slides-text{
 * width: 100%;
  *height: 100%;
*min-width: 145px;
*background-color: #f6f6f6;
*}
*/


.slider__img-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.slider__text-header {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 32px;
  align-items: center;
}

.slider__view {
  @include block (17px, 10px);
}

.slider__text-item {
  padding-top: 11px;
  padding-right: 25px;
  padding-left: 25px;
}

.slider__item--7 {
  background-color:
    #f6f6f6;
}

.slider__text-subheader::after {
  display: block;
  content: "";
  width: 14px;
  height: 2px;
  background-color: #ffffff;
  margin-top: 18px;
  margin-bottom: 20px;
}

.slider__text-subheader--black::after {
  background-color: #4b4b4b;
}


.slider__text-slide {
  display: flex;
  flex-direction: column;
}

.slider__text-subheader {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 16px;
}

.slider__text-slide--black {
  color: #4b4b4b;
}

.slider__text-area--black {
  color: #4b4b4b;
}

.slider__text-subheader--black {
  color: #4b4b4b;
}

.slider__text-area {
  color: #ffffff;
  font-weight: 400;
}

.slider__slides-description {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 28px;
}

.slider__arrow-left {
  transform: rotate(180deg);
}

.slider__arrow:focus{
  border: none;
  outline: none;
}




.slider__navigation {
  display: flex;
  justify-content: space-around;
  height: 38px;
  align-items: center;
}

.slider__arrow {
  display: flex;
  align-items: center;
  margin-top: 4px;
  @include block (24px, 24px);
}

.slider__pagination {
  display: flex;
  align-items: center;
}

.slider__pagination-item {

  display: flex;
  justify-content: center;
  align-items: center;
  color: #4b4b4b;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  width: 32px;
  height: 32px;
  outline: none;

}

.slider__pagination-item._active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border-radius: 50%;
  width: 32px;
  height: 32px;

}

.slider__pagination-item:not(:last-child) {
  margin-right: 21px;

}

.slider__navigation--position {
  margin-top: 25px;
}


.slider__pagination:hover .slider__pagination-item:not(:hover) {
  box-shadow: none;
}

.slider__pagination-item:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border-radius: 50%;

}

.slider__arrow:hover {
  transform: scale(1.25);
  cursor: pointer;
}

.slider__arrow:hover.slider__arrow-left {
  transform: scale(1.25) rotate(180deg);
}

.slider__slide-container {
  margin: 0 auto;
}

.slider__value-2 {
  width: 100%;
}

.slider__value-1 {
  width: 50%;
}

.slider__text-stat {
  display: none;
}

.slider__arrow-img {
  color: white;
  height: 100%;
  object-fit: contain;
}

@include tablet {
  .slider__value-2 {
    width: (100%/3*2);
  }

  .slider__value-1 {
    width: (100%/3);
  }

  .slider__item--2 {
    order: 4;
  }

  .slider__item--3 {
    order: 2;
  }

  .slider__item--6 {
    order: 3;
  }

  .slider__item--7 {
    order: 6;
    width: (100%/3);
  }

  .slider__item--5 {
    order: 7;
  }

  .slider__item {
    height: 245px;
  }

  .slider__navigation {
    justify-content: center;
    align-items: center;
  }

  .slider__navigation .slider__arrow:last-child {
    margin-left: 30px;
  }

  .slider__navigation .slider__arrow:first-child {
    margin-right: 30px;
  }

  .slider__text-header {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1px;
  }

  .slider__text-item {
    padding-top: 32px;
  }

  .slider__text-subheader {
    margin-top: 5px;
  }

  .slider__text-subheader::after {
    width: 16px;
    height: 4px;
    margin-top: 29px;
  }

  .slider__slides-description {
    font-size: 36px;
    line-height: 44px;
  }

  .slider__text-item--value2-text-block {
    margin-left: 50%;
    padding-left: 20px;
  }

  .slider__view {
    display: none;
  }

  .slider__text-stat {
    color: white;

  }

  .slider__text-stat--position {
    margin-top: 17px;
  }

  .slider__arrow {
    margin-top: 2px;
  }

  .slider__stat {
    @include block (18px, 18px);
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .slider__stat-item {
    display: flex;
    align-items: center;
  }

  .slider__stat-item:not(:last-child) {
    margin-right: 16px;
  }

  .slider__stat-amount {
    margin-left: 6px;
  }

  .slider__text-stat {
    display: flex;
  }

  .slider__symbol-stat {
    height: 12px;
  }

  .slider__text-line::after {
    margin-top: 20px;
    margin-bottom: 24px;
  }

  .slider__text-header--position-block2 {
    margin-top: 9px;
  }
}

@include desktop {
  .slider__pagination-item {
    font-size: 18px;
    line-height: 22px;
    width: 42px;
    height: 42px; 
  }

  .slider__pagination-item._active {
    color: #ebcb80;
    width: 42px;
    height: 42px; 
  }

  .slider__navigation--position {
    margin-top: 73px;
    height: 50px;
  }

  .slider__item {
    height: 380px;
    transform: scale(1);
    transition: transform .3s linear, z-index .4s, box-shadow .5s;
    z-index: 0;
  }

  .slider__text-header {
    font-size: 32px;
    line-height: 42px;
  }
  .slider__text-item {
  padding-left: 40px;
  padding-right: 40px;
  }

  .slider__text-subheader {
    font-size: 18px;
    line-height: 30px;
  }

  .slider__text-subheader::after {
    width: 32px;
    height: 6px;
    margin-top: 31px;
    margin-bottom: 32px;
  }

  .slider__slides-description {
    font-size: 64px;
    line-height: 55px;
    letter-spacing: -2px;
  }

  .slider__text-item{
    padding-top: 60px;
  }
  .slider__text-subheader::after {
    margin-bottom: 38px;
  }
  .slider__text-stat--position{
    margin-top: 24px;
  }
}


@media(min-width:1300px){
  .slider__item:hover{
    transform: scale(1.1);
    position: relative;
    z-index: 10;
    transition: transform .6s ease, z-index .6s, box-shadow .5s;
    transition-delay: .5s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.19);
  }
  .js-slider-portfolio{
    max-width: 1300px;
    padding-left: 0;
    padding-right: 0;
  }
  .js-slider{
margin-left: 80px;
  }
  .slider__navigation--position{
  max-width: 1140px;
  }
}

.js-slider-container{
  display: flex;

}

.js-slide{
  flex-grow: 1;
  flex-shrink: 0;
}  


.js-slider-portfolio{
  overflow-x: hidden;
}