.tabs__tab--silver {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  background-color: #4b4b4b;
  color: white;
}

.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs__tab--platinum {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  background-color: #4b4b4b;
  color: white;
}

.tabs__tab-header--yellow {
  color: #ebcb80;
}

.tabs__tab--gold {
  background-image: linear-gradient(-110deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  background-color: #ebcb80;
}

.tabs__tab {
  border-radius: 8px;
}

.tabs__button--black {
  width: 140px;
  height: 32px;
  border-radius: 50px;
  background-color: #4b4b4b;
  line-height: 32px;
  text-align: center;
  margin-bottom: 28px;
  margin-top: 20px;
}

.tabs__button--yellow {
  width: 140px;
  height: 32px;
  border-radius: 50px;
  background-color: #ebcb80;
  line-height: 32px;
  text-align: center;
  margin-bottom: 28px;
  margin-top: 20px;
}


.tabs__button--link-white {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.tabs__button--link {
  font-family: Montserrat;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.tabs__tab {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs__tab-header {
  font-size: 12px;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.tabs__tab-amount {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1.2px;
  line-height: 48px;
}

.tabs__tab-currency {
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 400;
}

.tabs__button--link-white {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.tabs__button--link-white:visited {
  color: #ffffff;
}

.tabs__button--link:visited {
  color: #4b4b4b;
}



.tabs__list-item {
  font: 16px / 24px;
  text-align: center;
}

.tabs__tab-header--title-margin {
  line-height: 27px;
  margin-top: 14px;
}

.tabs__tab-price {
  display: flex;
  align-items: flex-start;
}

.tabs__tab-currency {
  margin-top: 10px;
  margin-right: 5px;
}

.tabs__period--position {
  margin-top: -6px;
  margin-bottom: 7px;
}

.tabs__tab--position1 {
  position: relative;
  z-index: 3;
  max-width: 190px;
}

.tabs__tab--position2 {
  transform: scale(.85);
  position: absolute;
  top: -7.5%;
  margin-top: -10px;
  z-index: 2;
}

.tabs__tab--position3 {
  transform: scale(.75);
  position: absolute;
  top: -12.5%;
  margin-top: -19px;
  z-index: 1;
}

.tabs__container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 39px auto 0 auto;
  z-index: 0;
  min-height: 245px;;
}

.tabs__tab {
  transition: 1s;
}

.tabs__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  height: 24px;
}


.tabs__navigation-item._active {
  display: block;
  border-radius: 48px;
  background-color: #ebcb80;
  transition: 1s;
}

.tabs__navigation-item {
  font-size: 12px;
  font-weight: 700;
  padding: 4px 20px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
 
}

@include tablet{
  .tabs__navigation{
    display: none;
  }
  .tabs__tab{
    transform: scale(1);
    position: relative;
    margin-top: 0;
    max-width: 170px;
  }
  .tabs__tab:not(:last-child){
    margin-right: 68px;
  }
  .tabs__tab--gold{
    order: 2;
  }
  .tabs__tab--silver{
    order: 1;
  }
  .tabs__tab--platinum{
    order: 3;
  }
  .tabs__container{
    justify-content: center;
  }
  .tabs__container{
    margin: 32px 0;
  }
}