.title {
  font-family: 'Montserrat';
  color: #4b4b4b;
}

.title--h1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -1px;
}


.title--h2 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 40px;
}

.title--h1-white {
  color: #ffffff;
}


.title--first-screen {
  margin: 0 auto;
  margin-top: 12.1vh;
  max-width: 235px;
  text-align: center;
}

@include tablet {
  .title--first-screen {
    max-width: 520px;
  }
}


.title--subtitle-h3 {
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}


.title--center {
  text-align: center;
}

.tittle--margin-top3px {
  margin-top: 3px;
}

@include tablet {
  .title--h1 {
    font-size: 32px;
    line-height: 36px;
  }

  .title--first-screen {
    margin: 10.1vh auto 0;
  }

  .tittle--margin-top3px {
    margin-top: 22px;
  }

  .title--h2 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 40px;
  }
}

@include desktop {
  .title--first-screen {
    max-width: 620px;
    margin: 18.2vh auto 0;
  }

  .title--h1 {
    font-size: 44px;
    line-height: 48px;
  }

  .title--subtitle-h3 {
    font-size: 18px;
    line-height: 30px;
  }
  .tittle--margin-top3px{
    margin-top: 32px;
  }
  .title--h2{
    font-size: 44px;
  }
  .third-screen__button-download--position{
    margin-top: 42px;
  }
}