.title {
  font-family: 'Montserrat';
  color: #4b4b4b;
}

.title--h1{
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -1px;

}

.title--h2{
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 40px;
}

.title--h1-white{
  color: #ffffff;
}


.title--first-screen{
  margin: 0 auto;
  margin-top: 12.1vh;
  max-width: 235px;
  text-align: center;
}


.title--subtitle-h3{
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}


.title--center{
  text-align: center;
}

.tittle--margin-top3px{
  margin-top: 3px;
}
