.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logo--header{
  @include block(150px, 72px);
}

.logo--footer{
  @include block(120px, 50px);
  background: url(./bg/icon/logo--footer.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.logo__link{
  display: block;
}

.logo--footer:hover{
  background: url(./bg/icon/logo--green.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.logo--footer:active{
  opacity: 0.3;
}

.logo__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logo__img:hover{
  opacity: 0.6
}

.logo__img:active{
  opacity: 0.3
}