


.content__border {
  border-radius: 60px;
  border: 8px solid #f2994a;
}

.content__border--left{
  height: 500px;
}

.content__border--right{
  height: 200px;
}

.content--position {
  padding-top: 112px;
}

.content__left {
  background-color: #043353;
}

.content__right {
  background-color: #EAD5D5;
}

.content__header {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;

}

.content__header-left {
  color: rgba(250, 248, 240, 0.8);
  max-width: 510px;
  padding: 17px 0px 0px 54px;
  font-size: 50px;
  line-height: 60px;
  -webkit-text-stroke: 1px #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content__header-right {
  height: 200px;
  font-size: 33px;
  line-height: 40px;  
  color: rgba(4, 51, 83, 0.8);
  padding: 32px 0px 0px 30px;
}

.content--bg::before {
  display: flex;
  content:"";
  background-color: #043353;
  flex-grow: 1;
}
.content--bg::after {
  display: flex;
  content:"";
  background-color: #EAD5D5;
  flex-grow: 1;
}

@include mobile{
  .content--bg::after{
    display: none;
  }
  .content--bg::before{
    display: none;
  }
}

@media (max-width:400px){
  .content__header-left {
    font-size: 34px;
    line-height: 46px;
  }
  .content__header-right {
    font-size: 24px;
    line-height: 32px;
  }
}